
body{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 2vw;
}

/*.title{
    font-size: 2vw;
}*/

