
body{
    background-color: rgb(0, 0, 0);
    color: rgb(233, 0, 0);
    margin: 0;
    padding: 0;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}

