/* Valentin Magry - MMI Bordeaux Montaigne Student - 2019 */

.center{
	height: 100vh;
}

.title{
    text-transform: uppercase;
    text-align: center;
	letter-spacing: .5em;
	display: inline-block;
	border: 4px double rgba(255,255,255,.25);
	border-width: 4px 0;
	padding: 1.5em 0em;
	position: absolute;
	top: calc(50% - 153px);
	left: 50%;
	width: 40em;
    margin: 0 0 0 -20em;
	z-index: 1;
	
}

.title h1{
    font: 700 4em/1 "Oswald", sans-serif;
  	letter-spacing: 0;
  	padding: .25em 0 .325em;
	display: block;
	margin: 0 auto;
    text-shadow: 0 0 80px rgba(224, 22, 22, 0.562);

/*
	background: url(Assets/animated_text_fill.png) repeat-y;
	-webkit-background-clip: text;
	background-clip: text;


	-webkit-text-fill-color: transparent;
	-webkit-animation: aitf 80s linear infinite;


	-webkit-transform: translate3d(0,0,0);
	-webkit-backface-visibility: hidden;/*
}

@keyframes Shadow{
	0%{
		text-shadow: 0 0 80px rgba(224, 22, 22, 0.562);
	}
	50%{
		text-shadow: 0 0 80px rgb(0, 0, 0);
	}
}