/* ====================================================== */
/* Valentin Magry - MMI Bordeaux Montaigne Student - 2020 */
/* ====================================================== */

/* MAIN
    --------------------------------------------------------------------------------------------------------------------------- */

/*Import Font*/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,600');
@import url('https://fonts.googleapis.com/css?family=Lato');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}

/* Grid */
.wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 5px;
    grid-template-rows: repeat(6, 1fr);
    width: 100vw;
    height: 100vh;
  }

#title{
    grid-column: 2 / 6;
    grid-row: 3;
    color: rgb(0, 0, 0);
    font-family: Roboto;
    font-weight: 700;
    font-size: 8em;
    text-align: center;
    transition: 0.5s ease;
}


.btn{
    color: black;
    text-decoration: none;
    font-family: Roboto;
    font-size: 1.5em;
    font-weight: normal;
    background-color: rgb(255, 255, 255);
    border: solid 1px rgb(0, 0, 0);
    border-radius: 5px;
    height: 50%;
    text-align: center;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.4) 5px 6px 5px;
    transition: 0.5s ease;
}

.btn:hover a:before{
    visibility: visible;
    transform: scaleX(1);
}

.btn a:before{
    content: "";
    position: relative;
    display: block;
    width: 100%;
    height: 3px;
    top: 90%;
    background: rgb(0, 0, 0);
    visibility: hidden;
    border-radius: 5px;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: .25s linear;
    -o-transition: .25s linear;
    transition: .25s linear;
}






#platformer{
    grid-column: 3;
    grid-row: 5;
    
}

#website{
    text-align: center;
    grid-column: 4;
    grid-row: 5;
}

.background{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    z-index: -1;
    transition: 0.5s ease;
}

