/* Valentin Magry - MMI Bordeaux Montaigne Student - 2019 */


/* MAIN
    --------------------------------------------------------------------------------------------------------------------------- */

/*Import Font*/
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,600');
@import url('https://fonts.googleapis.com/css?family=Lato');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(20, 20, 20);
  overflow: hidden;
  }

a{
    text-decoration: none;
}

.bodypage{
  width: 100%;
  height: 100vh;
  background-color: rgb(20, 20, 20);
  color: rgb(255, 255, 255);
  position: absolute;

}



/* Accueil 
    _________________*/

  /* Title */

.title{
  margin-top: 50vh;
  margin-left: 50vw;
  transform: translate(-50%, -50%);
  text-align: center;
	padding: 1.5em 0em;
  display: block;
	width: 40em;

	
}

.title h1{
    font: 600 5em/1 "Oswald", sans-serif;
  	letter-spacing: 5px;
  	padding: .25em 0 .325em;
	  display: block;
    margin: 0 auto;
    text-transform: uppercase;
}

.title h2{
  font: 400 2em/1 "Oswald", sans-serif;
  background-color: rgb(251, 5, 5);
  width: 10em;
  position: relative;
  left: calc(50% - 160px);
  padding: 5px;

}


  /* Links */



.Links a{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 2em;
    letter-spacing: 8px;
    font-family: "Oswald";
    font-weight: 400;
    display: block;
    margin: 0;
    line-height: 0;
    position: relative;
    z-index: 2;
}

.linke{
  border: 2px solid transparent;
  width: 12em;
  height: 1em;
}


.links_underlined{
  height: 1em;
  width: 5em;
  border-radius: 3px;
  background-color: rgb(251, 5, 5);
  display: none;
  position: relative;
  top: 8px;
  left: 30px;
  float: right;
  z-index: 1;
}

.Links :hover .links_underlined{
  display: block;
  animation: LinkUnderline 0.1s linear;
}



@keyframes LinkUnderline {
  from {
    transform: translate(0);
    left: -30px;
  }
  to {

  }
}

#Works {
  position: absolute;
  top: 95%;
  left: calc(50% - 76.4px);
}

#Contact {
  position: absolute;
  top: 50%;
  right: -3%;
  -webkit-transform: rotate(90deg);
}

#AboutMe {
  position: absolute;
  top: calc(50%);
  left: -3%;
  -webkit-transform: rotate(-90deg);
}



/* AboutMe 
    _________________*/


  .title-about{
    width: 3em;
    position: absolute;
    top: 10%;
    right: 10%;
    font: 600 5em/1 "Oswald", sans-serif;
    text-transform: uppercase;
  }

  #me,
  #about{
    float: right;
  }

  #about{
    text-shadow: #ff0000 1px 1px, #ff0000 -1px 1px, #f80101 -1px -1px, #ff0000 1px -1px;
    color: rgb(20, 20, 20);
  }

  #About-GoBack {
    position: absolute;
    top: 50%;
    right: -3%;
    -webkit-transform: rotate(90deg);
  }

  .about-content{
    width: 50vw;
    position: relative;
    top: 25%;
    left: calc(50% - 25vw);
  }

  #portrait{
    height: 25em;
    width: 20em;
  }

  .AboutMe-Text{
    position: relative;
    transform: translate(10em, -5em);
    font: 400 1.2em/1 "Lato", sans-serif;
    line-height: 30px;
  }

  /* Contact 
    _________________*/

    .title-contact{
      width: 3em;
      position: absolute;
      top: 10%;
      left: 10%;
      font: 600 5em/1 "Oswald", sans-serif;
      text-transform: uppercase;
    }

    #Contact-GoBack {
      position: absolute;
      top: 50%;
      left: -3%;
      -webkit-transform: rotate(-90deg);
    }

    #contact-title{
      text-shadow: #ff0000 1px 1px, #ff0000 -1px 1px, #f80101 -1px -1px, #ff0000 1px -1px;
      color: rgb(20, 20, 20);
    }

    /* Contact 
    _________________*/

    .title-works{
      width: 3em;
      position: absolute;
      top: 10%;
      left: calc(50% - 3em);
      font: 600 5em/1 "Oswald", sans-serif;
      text-transform: uppercase;
    }

    #my{
      transform: scaleX(-1);
      float: left;
      font-style: italic;
    }

    #works-title{
      font: 600 2em/1 "Oswald", sans-serif;
      text-shadow: #ff0000 1px 1px, #ff0000 -1px 1px, #f80101 -1px -1px, #ff0000 1px -1px;
      color: rgb(20, 20, 20);
    }

    #Works-GoBack {
      position: absolute;
      top: 5%;
      right: 5%;
    }


/*    Page Transition
      --------------------------------------------------------------------------------------------------------------------- */



.slide-FromRight{
  animation: slide-FromRight 2s ease forwards;
}

.slide-ToRight{
  animation: slide-ToRight 2s ease forwards;
}

.slide-FromLeft{
  animation: slide-FromLeft 2s ease forwards;
}

.slide-ToLeft{
  animation: slide-ToLeft 2s ease forwards;
}

.slide-ToBottom{
  animation: slide-ToBottom 2s ease forwards;
}

.slide-FromBottom{
  animation: slide-FromBottom 2s ease forwards;
}

.slide-ToTop{
  animation: slide-ToTop 2s ease forwards;
}

.slide-FromTop{
  animation: slide-FromTop 2s ease forwards;
}

@keyframes slide-FromRight {
  from{
    transform: translateX(100%);
    visibility: visible;
  }
  to{
    transform: translateX(0%);
  }
}

@keyframes slide-ToRight {
  from{
    transform: translateX(0%);
    visibility: visible;
  }
  to{
    transform: translateX(100%);
  }
}

@keyframes slide-FromLeft{
  from{
    transform: translateX(-100%);
    visibility: visible;
  }
  to{
    transform: translateX(0%);
  }
}

@keyframes slide-ToLeft{
  from{
    transform: translateX(0%);
    visibility: visible;
  }
  to{
    transform: translateX(-100%);
  }
}

@keyframes slide-ToBottom{
  from{
    transform: translateY(0vh);
    visibility: visible;
  }
  to{
    transform: translateY(100vh);
  }
}

@keyframes slide-FromBottom{
  from{
    transform: translateY(100vh);
    visibility: visible;
  }
  to{
    transform: translateY(0vh);
  }
}

@keyframes slide-ToTop{
  from{
    transform: translateY(0vh);
    visibility: visible;
  }
  to{
    transform: translateY(-100vh);
  }
}

@keyframes slide-FromTop{
  from{
    transform: translateY(-100vh);
    visibility: visible;
  }
  to{
    transform: translateY(0vh);
  }
}














/*
.Pen-Effect{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background:
        url(A400M.png),
        url(A400M.png);
    background-size: cover;
    background-blend-mode: difference;
    background-position:
        calc(50% - 1px) calc(50% - 1px),
        calc(50% + 1px) calc(50% + 1px);

}*/



  /* MOBILE VERSION
    --------------------------------------------------------------------------------------------------------------------------- */

  @media screen and (max-width: 820px) {

  body{
    width: 100%;
    height: 100%;
  }



  .title{
    letter-spacing: 0.3em;
    width: unset;
    transform: unset;
    margin: 1em;
  }

  .title h1{
    font-size: 3em;
  }

  .title h2{
    font-size: 1em;
    width: 15em;
    left: calc(50% - 7.5em);
    letter-spacing: 3px;

  }


    .Links{
      font-size: 2vw;
      position: absolute;
      top: 55%;
      width: 50%;
    }
    
    
    #Works {
        position: relative;
        top: 10em;
        left: 50%;
        text-align:center;

    }
    
    #AboutMe {
        position: relative;
        top: 5em;
        left: 50%;
        text-align:center;
        -webkit-transform: rotate(0deg);

    }
    
    #Contact {
        text-align:center;
        position: relative;
        top: unset;
        right: unset;
        left: 50%;
        -webkit-transform: rotate(0deg);

    }
    

  }



/* Loader */
/* Ce ne seras pas utile mais sait-on jamais */
/*
#Content {
  display: none;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  background-image: url(LogoVM.svg);
  background-repeat: no-repeat;
  background-size: 120px 120px;
  width: 120px;
  height: 120px;
  animation: load 4s infinite;
}

@keyframes load {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
*/