/* Valentin Magry - MMI Bordeaux Montaigne Student - 2019 */


/* MAIN */

body{
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}

a{
    text-decoration: none;
}



#Works {
    position: absolute;
    top: 95%;
    left: calc(50% - 76.4px);
  }

#Contacts {
    position: absolute;
    top: 50%;
    right: -5%;
    -webkit-transform: rotate(90deg);
  }

#AboutMe {
    position: absolute;
    top: calc(50%);
    left: -5%;
    -webkit-transform: rotate(-90deg);
  }


/* TITLE */


.title{
  margin-top: 50vh;
  margin-left: 50vw;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  text-align: center;
	letter-spacing: .5em;
	border: 4px double rgba(255,255,255,.25);
	border-width: 4px 0;
	padding: 1.5em 0em;
  display: block;
	width: 40em;
	z-index: 1;
	
}

.title h1{
    font: 700 4em/1 "Oswald", sans-serif;
  	letter-spacing: 0;
  	padding: .25em 0 .325em;
	display: block;
	margin: 0 auto;
    text-shadow: 0 0 80px rgba(241, 14, 14, 0.719);


}



/* GLITCH */



.Glitch a {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 2em;
    letter-spacing: 8px;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-weight: 400;
  
    /* Superposition */
    display: block;
    margin: 0;
    line-height: 0;
  
    /* Animation  */
    /*animation: glitch1 2.5s infinite;*/
  }
  
  .Glitch a:nth-child(2) {
    display: none;
    color: #fc0808;
    /*animation: glitch2 2.5s infinite;*/
  }
  
  .Glitch a:nth-child(3) {
    display: none;
    color: #686666;
    /*animation: glitch3 2.5s infinite;*/
  }
  
  .Glitch a:hover:nth-child(1) {
    animation: glitch1 2.5s infinite;
  }
  
  .Glitch:hover > a:nth-child(2){
    display: block;
    animation: glitch2 2.5s infinite;
  }
  
  .Glitch:hover >  a:nth-child(3){
    display: block;
    animation: glitch3 2.5s infinite;
  }
  
  /*Keyframes*/
  
  @keyframes glitch1 {
    0% {
      transform: none;
      opacity: 1;
    }
    7% {
      transform: skew(-0.5deg, -0.9deg);
      opacity: 0.75;
    }
    10% {
      transform: none;
      opacity: 1;
    }
    27% {
      transform: none;
      opacity: 1;
    }
    30% {
      transform: skew(0.8deg, -0.1deg);
      opacity: 0.75;
    }
    35% {
      transform: none;
      opacity: 1;
    }
    52% {
      transform: none;
      opacity: 1;
    }
    55% {
      transform: skew(-1deg, 0.2deg);
      opacity: 0.75;
    }
    50% {
      transform: none;
      opacity: 1;
    }
    72% {
      transform: none;
      opacity: 1;
    }
    75% {
      transform: skew(0.4deg, 1deg);
      opacity: 0.75;
    }
    80% {
      transform: none;
      opacity: 1;
    }
    100% {
      transform: none;
      opacity: 1;
    }
  }
  
  @keyframes glitch2 {
    0% {
      transform: none;
      opacity: 0.25;
    }
    7% {
      transform: translate(-2px, -3px);
      opacity: 0.5;
    }
    10% {
      transform: none;
      opacity: 0.25;
    }
    27% {
      transform: none;
      opacity: 0.25;
    }
    30% {
      transform: translate(-5px, -2px);
      opacity: 0.5;
    }
    35% {
      transform: none;
      opacity: 0.25;
    }
    52% {
      transform: none;
      opacity: 0.25;
    }
    55% {
      transform: translate(-5px, -1px);
      opacity: 0.5;
    }
    50% {
      transform: none;
      opacity: 0.25;
    }
    72% {
      transform: none;
      opacity: 0.25;
    }
    75% {
      transform: translate(-2px, -6px);
      opacity: 0.5;
    }
    80% {
      transform: none;
      opacity: 0.25;
    }
    100% {
      transform: none;
      opacity: 0.25;
    }
  }
  
  @keyframes glitch3 {
    0% {
      transform: none;
      opacity: 0.25;
    }
    7% {
      transform: translate(2px, 3px);
      opacity: 0.5;
    }
    10% {
      transform: none;
      opacity: 0.25;
    }
    27% {
      transform: none;
      opacity: 0.25;
    }
    30% {
      transform: translate(5px, 2px);
      opacity: 0.5;
    }
    35% {
      transform: none;
      opacity: 0.25;
    }
    52% {
      transform: none;
      opacity: 0.25;
    }
    55% {
      transform: translate(5px, 1px);
      opacity: 0.5;
    }
    50% {
      transform: none;
      opacity: 0.25;
    }
    72% {
      transform: none;
      opacity: 0.25;
    }
    75% {
      transform: translate(2px, 6px);
      opacity: 0.5;
    }
    80% {
      transform: none;
      opacity: 0.25;
    }
    100% {
      transform: none;
      opacity: 0.25;
    }
  }




  /* NTM LA VERSION MOBILE */

  @media screen and (max-width: 820px) {

  body{
    width: 100%;
    height: 100%;
  }



  .title{
    letter-spacing: 0.3em;
    width: unset;
    transform: unset;
    margin: 1em;
  }

  .title h1{
    font-size: 1.75em;
    text-shadow: 0 0 50px rgba(241, 14, 14, 0.719);
  }

  .title p{
    font-size: 0.70em;
  }


    .Glitch{
        font-size: 2vw;
    }
    
    #Links{
      position: absolute;
      top: 50%;
      width: 50%;
    }
    
    #Works {
        position: relative;
        top: 10em;
        left: 50%;
        text-align:center;

    }
    
    #AboutMe {
        position: relative;
        top: 5em;
        left: 50%;
        text-align:center;
        -webkit-transform: rotate(0deg);

    }
    
    #Contacts {
        text-align:center;
        position: relative;
        top: unset;
        right: unset;
        left: 50%;
        -webkit-transform: rotate(0deg);

    }
    

  }



/* Loader */
/*
#Content {
  display: none;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  background-image: url(LogoVM.svg);
  background-repeat: no-repeat;
  background-size: 120px 120px;
  width: 120px;
  height: 120px;
  animation: load 4s infinite;
}

@keyframes load {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
*/