/* ====================================================== */
/* Valentin Magry - MMI Bordeaux Montaigne Student - 2019 */
/* ====================================================== */

/* MAIN
    --------------------------------------------------------------------------------------------------------------------------- */

/*Import Font*/
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,600');
@import url('https://fonts.googleapis.com/css?family=Lato');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(20, 20, 20);
  overflow-x: hidden;
  }

a{
    text-decoration: none;
}

.bodypage{
  width: 100%;
  height: 100vh;
  background-color: rgb(20, 20, 20);
  color: rgb(255, 255, 255);
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;  
}



/* Accueil 
    _________________*/

  /* Title */

.title{
  margin-top: 50vh;
  margin-left: 50vw;
  transform: translate(-50%, -50%);
  text-align: center;
	padding: 1.5em 0em;
  display: block;
	width: 40em;

	
}

.title h1{
    font: 600 5em/1 "Oswald", sans-serif;
  	letter-spacing: 5px;
  	padding: .25em 0 .325em;
	  display: block;
    margin: 0 auto;
    text-transform: uppercase;
}

.title h2{
  font: 400 2em/1 "Oswald", sans-serif;
  background-color: rgb(251, 5, 5);
  width: 10em;
  position: relative;
  left: calc(50% - 160px);
  padding: 5px;

}


  /* Links */



.Links a{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 2em;
    letter-spacing: 8px;
    font-family: "Oswald";
    font-weight: 400;
    display: block;
    margin: 0;
    line-height: 0;
    position: relative;
    z-index: 2;
}

.linke{
  border: 2px solid transparent;
  width: 12em;
  height: 1em;
}


.links_underlined{
  height: 1em;
  width: 5em;
  border-radius: 3px;
  background-color: rgb(251, 5, 5);
  display: none;
  position: relative;
  top: 8px;
  left: 30px;
  float: right;
  z-index: 1;
}

.Links :hover .links_underlined{
  display: block;
  animation: LinkUnderline 0.1s linear;
}



@keyframes LinkUnderline {
  from {
    transform: translate(0);
    left: -30px;
  }
  to {

  }
}

#Works {
  position: absolute;
  top: 95%;
  left: calc(50% - 76.4px);
}

#Contact {
  position: absolute;
  top: 50%;
  right: -3%;
  -webkit-transform: rotate(90deg);
}

#AboutMe {
  position: absolute;
  top: calc(50%);
  left: -3%;
  -webkit-transform: rotate(-90deg);
}



/* AboutMe 
    _________________*/

  /* Title */

  .title-about{
    width: 3em;
    position: absolute;
    top: 10%;
    right: 10%;
    font: 600 5em/1 "Oswald", sans-serif;
    text-transform: uppercase;
  }

  #me,
  #about{
    float: right;
  }

  #about{
    text-shadow: #ff0000 1px 1px, #ff0000 -1px 1px, #f80101 -1px -1px, #ff0000 1px -1px;
    color: rgb(20, 20, 20);
  }

  /* Link */

  #About-GoBack {
    position: absolute;
    top: 50%;
    right: -3%;
    -webkit-transform: rotate(90deg);
  }

  /* Content */

  .about-content{
    width: 50vw;
    position: relative;
    top: 25%;
    left: calc(50% - 25vw);
  }

  #portrait{
    height: 25em;
    width: 20em;
  }

  .AboutMe-Text{
    position: relative;
    transform: translate(10em, -5em);
    font: 400 1.2em/1 "Lato", sans-serif;
    line-height: 30px;
  }

  /* Contact 
    _________________*/

    /* Title */

    .title-contact{
      width: 3em;
      position: absolute;
      top: 10%;
      left: 10%;
      font: 600 5em/1 "Oswald", sans-serif;
      text-transform: uppercase;
    }

    #contact-title{
      text-shadow: #ff0000 1px 1px, #ff0000 -1px 1px, #f80101 -1px -1px, #ff0000 1px -1px;
      color: rgb(20, 20, 20);
    }

    /* Link */

    #Contact-GoBack {
      position: absolute;
      top: 50%;
      left: -3%;
      -webkit-transform: rotate(-90deg);
    }

    /* Form */

    .contact-content{
      width: 50vw;  
      position: relative;
      top: 40%;
      left: calc(50% - 25vw);
      font: 300 1em/1 "Oswald", sans-serif;
    }



    .Name{
      width: 50%;
      padding: 2em;
    }

    #N1{
      float: left;
    }

    #N2{
      float: right;
    }

    .email{
      width: 100%;
      padding: 2em;
    }

    input[type=text] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: none;
      border-bottom: 1px solid rgb(75, 75, 75);
      background: rgb(20, 20, 20);
      box-sizing: border-box;
      font: 300 1.3em/1 "Oswald", sans-serif;
      color: white;
    }

    input[type=text]:focus, input[type=text]:hover {
      border-bottom: 1px solid rgb(255, 0, 0);      
    }

    .label{
      color: rgb(121, 121, 121);
    }

    textarea{
      width: 100%;
      height: 50px;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      border: none;
      border-bottom: 1px solid rgb(121, 121, 121);
      background-color: rgb(20, 20, 20);
      resize: none;
      font: 300 1.3em/1 "Oswald", sans-serif;
      color: white;
    }

    textarea:focus, textarea:hover{
      border-bottom: 1px solid rgb(255, 0, 0);      
    }

  

    #submit{
      width: 150px;
      height: 50px;
      font: 300 2em/1 "Oswald", sans-serif;
      float: right;
      background-color: rgb(20, 20, 20);
      color: rgb(255, 0, 0);
      border: 1px solid rgb(255, 0, 0);
      cursor: pointer;
    }

    #submit:hover{
      background-color: rgb(25, 25, 25);
    }
    


    /* Works 
    _________________*/

    /* Title */

    .title-works{
      width: 3em;
      position: absolute;
      top: 10%;
      left: calc(50% - 3em);
      font: 600 5em/1 "Oswald", sans-serif;
      text-transform: uppercase;
    }

    #my{
      transform: scaleX(-1);
      float: left;
      font-style: italic;
    }

    #works-title{
      font: 600 2em/1 "Oswald", sans-serif;
      text-shadow: #ff0000 1px 1px, #ff0000 -1px 1px, #f80101 -1px -1px, #ff0000 1px -1px;
      color: rgb(20, 20, 20);
    }

    /* Link */

    #Works-GoBack {
      position: absolute;
      top: 5%;
      right: 5%;
    }


    /* Works Presentation */

    .works-img{
      height: 15em;
      width: 45%;
      margin: 1em;
      filter: grayscale(100%) brightness(30%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(1.3) drop-shadow(10px 10px 4px #9e0f0f);
      
    }

    .works-content{
      width: 50vw;
      position: relative;
      top: 50%;
      left: calc(50% - 25vw);
    }

    .Works-Links:hover > .works-img{
      filter: grayscale(100%) brightness(30%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(1) drop-shadow(10px 10px 4px #be3333);
    }


/*    Page Transition
      --------------------------------------------------------------------------------------------------------------------- */


.slide-FromRight{
  animation: slide-FromRight 2s ease forwards;
}

.slide-ToRight{
  animation: slide-ToRight 2s ease forwards;
}

.slide-FromLeft{
  animation: slide-FromLeft 2s ease forwards;
}

.slide-ToLeft{
  animation: slide-ToLeft 2s ease forwards;
}

.slide-ToBottom{
  animation: slide-ToBottom 2s ease forwards;
}

.slide-FromBottom{
  animation: slide-FromBottom 2s ease forwards;
}

.slide-ToTop{
  animation: slide-ToTop 2s ease forwards;
}

.slide-FromTop{
  animation: slide-FromTop 2s ease forwards;
}

.fade-in{
  animation: fade-in 1s ease forwards;
}

.fade-out{
  animation: fade-out 1s ease forwards;
}

@keyframes fade-in{
  0%{
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@keyframes fade-out{
  0%{
    opacity: 1
  }
  100% {
    opacity: 0
  }
}


@keyframes slide-FromRight {
  from{
    transform: translateX(100%);
    visibility: visible;
  }
  to{
    transform: translateX(0%);

  }
}

@keyframes slide-ToRight {
  from{
    transform: translateX(0%);
    visibility: visible;
  }
  to{
    transform: translateX(100%);
  }
}

@keyframes slide-FromLeft{
  from{
    transform: translateX(-100%);
    visibility: visible;
    }
  to{
    transform: translateX(0%);
  }
}

@keyframes slide-ToLeft{
  from{
    transform: translateX(0%);
    visibility: visible;
  }
  to{
    transform: translateX(-100%);
  }
}

@keyframes slide-ToBottom{
  from{
    transform: translateY(0vh);
    visibility: visible;
  }
  to{
    transform: translateY(100vh);
  }
}

@keyframes slide-FromBottom{
  from{
    transform: translateY(100vh);
    visibility: visible;
  }
  to{
    transform: translateY(0vh);
  }
}

@keyframes slide-ToTop{
  from{
    transform: translateY(0vh);
    visibility: visible;
  }
  to{
    transform: translateY(-100vh);
  }
}

@keyframes slide-FromTop{
  from{
    transform: translateY(-100vh);
    visibility: visible;
  }
  to{
    transform: translateY(0vh);
  }
}














/*
.Pen-Effect{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background:
        url(A400M.png),
        url(A400M.png);
    background-size: cover;
    background-blend-mode: difference;
    background-position:
        calc(50% - 1px) calc(50% - 1px),
        calc(50% + 1px) calc(50% + 1px);

}*/



  /* MOBILE VERSION
    --------------------------------------------------------------------------------------------------------------------------- */

  @media screen and (max-width: 820px) {

  body{
    width: 100%;
    height: 100%;
  }



  .title{
    letter-spacing: 0.3em;
    width: unset;
    transform: unset;
    margin: 1em;
  }

  .title h1{
    font-size: 3em;
  }

  .title h2{
    font-size: 1em;
    width: 15em;
    left: calc(50% - 7.5em);
    letter-spacing: 3px;

  }

  .title-contact{
    letter-spacing: 0.3em;
    font-size: 3em;
  }

  .title-works{
    letter-spacing: 0.3em;
    font-size: 2.5em;
    left: 7%;
  }

  .title-about{
    letter-spacing: 0.3em;
    font-size: 3em;
  }

    .Links{
      position: absolute;
      height: 0;
      top: 40%;
      width: 50%;

    }

    .Links a{
      letter-spacing: 3px;
      font-size: 1.5em;
    }
    
    
    #Works {
        position: relative;
        top: 7em;
        left: 50%;
        text-align:center;

    }
    
    #AboutMe {
        position: relative;
        top: 5em;
        left: 50%;
        text-align:center;
        -webkit-transform: rotate(0deg);

    }
    
    #Contact {
        text-align:center;
        position: relative;
        top: unset;
        right: unset;
        left: 50%;
        -webkit-transform: rotate(0deg);

    }

    .works-img{
      height: 30%;
      width: 35%;
      margin: 1em;
    }

    .works-content{
      width: 100vw;
      position: relative;
      top: 40%;
      left: 5%;
    }

    .links_underlined {
      left: unset;
      animation: LinkUnderlineMobile 1s linear;
    }
    
    @keyframes LinkUnderlineMobile {
      from {
        transform: translate(0);
        left: -100px;
      }
      to {
    
      }
    }

  }



/* Loader */
/* Ce ne seras pas utile mais sait-on jamais */
/*
#Content {
  display: none;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  background-image: url(LogoVM.svg);
  background-repeat: no-repeat;
  background-size: 120px 120px;
  width: 120px;
  height: 120px;
  animation: load 4s infinite;
}

@keyframes load {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
*/