/* Valentin Magry - MMI Bordeaux Montaigne Student - 2019 */


/* MAIN
    --------------------------------------------------------------------------------------------------------------------------- */

/*Import Font*/
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,600');
@import url('https://fonts.googleapis.com/css?family=Lato');


body{
    width: 100%;
    background-color: rgb(15, 15, 15);
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}




/* Accueil 
    _________________*/

  /* Title */

.title{
  margin-top: 50vh;
  margin-left: 50vw;
  transform: translate(-50%, -50%);
  text-align: center;
	padding: 1.5em 0em;
  display: block;
	width: 40em;

	
}

.title h1{
    font: 600 5em/1 "Oswald", sans-serif;
  	letter-spacing: 5px;
  	padding: .25em 0 .325em;
	  display: block;
    margin: 0 auto;
    text-transform: uppercase;
}

.title h2{
  font: 400 2em/1 "Oswald", sans-serif;
  background-color: rgb(251, 5, 5);
  width: 10em;
  position: relative;
  left: calc(50% - 160px);

}


/* Links */



.Links a{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 2em;
    letter-spacing: 8px;
    font-family: "Oswald";
    font-weight: 400;
    display: block;
    margin: 0;
    line-height: 0;
    position: relative;
    z-index: 2;
    

}


.links_underlined{
  height: 1em;
  width: 5em;
  border-radius: 3px;
  background-color: rgb(251, 5, 5);
  display: none;
  position: relative;
  top: 8px;
  left: 30px;
  float: right;
  z-index: 1;
}

.Links :hover .links_underlined{
  display: block;
  animation: LinkUnderline 0.1s linear;
}

@keyframes LinkUnderline {
  from {
    transform: translate(0);
    left: -30px;
  }
  to {

  }
}

#Works {
  position: absolute;
  top: 95%;
  left: calc(50% - 76.4px);
}

#Contacts {
  position: absolute;
  top: 50%;
  right: -3%;
  -webkit-transform: rotate(90deg);
}

#AboutMe {
  position: absolute;
  top: calc(50%);
  left: -3%;
  -webkit-transform: rotate(-90deg);
}






/*
.Pen-Effect{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background:
        url(A400M.png),
        url(A400M.png);
    background-size: cover;
    background-blend-mode: difference;
    background-position:
        calc(50% - 1px) calc(50% - 1px),
        calc(50% + 1px) calc(50% + 1px);

}*/



/* GLITCH Effect  */
/*
.Glitch a {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 2em;
    letter-spacing: 8px;
    font-family: "Oswald";
    font-weight: 400;
  

    display: block;
    margin: 0;
    line-height: 0;

  }
  
  .Glitch a:nth-child(2) {
    display: none;
    color: #fc0808;

  }
  
  .Glitch a:nth-child(3) {
    display: none;
    color: #686666;

  }
  
  .Glitch a:hover:nth-child(1) {
    animation: glitch1 2.5s infinite;
  }
  
  .Glitch:hover > a:nth-child(2){
    display: block;
    animation: glitch2 2.5s infinite;
  }
  
  .Glitch:hover >  a:nth-child(3){
    display: block;
    animation: glitch3 2.5s infinite;
  }
  

  
  @keyframes glitch1 {
    0% {
      transform: none;
      opacity: 1;
    }
    7% {
      transform: skew(-0.5deg, -0.9deg);
      opacity: 0.75;
    }
    10% {
      transform: none;
      opacity: 1;
    }
    27% {
      transform: none;
      opacity: 1;
    }
    30% {
      transform: skew(0.8deg, -0.1deg);
      opacity: 0.75;
    }
    35% {
      transform: none;
      opacity: 1;
    }
    52% {
      transform: none;
      opacity: 1;
    }
    55% {
      transform: skew(-1deg, 0.2deg);
      opacity: 0.75;
    }
    50% {
      transform: none;
      opacity: 1;
    }
    72% {
      transform: none;
      opacity: 1;
    }
    75% {
      transform: skew(0.4deg, 1deg);
      opacity: 0.75;
    }
    80% {
      transform: none;
      opacity: 1;
    }
    100% {
      transform: none;
      opacity: 1;
    }
  }
  
  @keyframes glitch2 {
    0% {
      transform: none;
      opacity: 0.25;
    }
    7% {
      transform: translate(-2px, -3px);
      opacity: 0.5;
    }
    10% {
      transform: none;
      opacity: 0.25;
    }
    27% {
      transform: none;
      opacity: 0.25;
    }
    30% {
      transform: translate(-5px, -2px);
      opacity: 0.5;
    }
    35% {
      transform: none;
      opacity: 0.25;
    }
    52% {
      transform: none;
      opacity: 0.25;
    }
    55% {
      transform: translate(-5px, -1px);
      opacity: 0.5;
    }
    50% {
      transform: none;
      opacity: 0.25;
    }
    72% {
      transform: none;
      opacity: 0.25;
    }
    75% {
      transform: translate(-2px, -6px);
      opacity: 0.5;
    }
    80% {
      transform: none;
      opacity: 0.25;
    }
    100% {
      transform: none;
      opacity: 0.25;
    }
  }
  
  @keyframes glitch3 {
    0% {
      transform: none;
      opacity: 0.25;
    }
    7% {
      transform: translate(2px, 3px);
      opacity: 0.5;
    }
    10% {
      transform: none;
      opacity: 0.25;
    }
    27% {
      transform: none;
      opacity: 0.25;
    }
    30% {
      transform: translate(5px, 2px);
      opacity: 0.5;
    }
    35% {
      transform: none;
      opacity: 0.25;
    }
    52% {
      transform: none;
      opacity: 0.25;
    }
    55% {
      transform: translate(5px, 1px);
      opacity: 0.5;
    }
    50% {
      transform: none;
      opacity: 0.25;
    }
    72% {
      transform: none;
      opacity: 0.25;
    }
    75% {
      transform: translate(2px, 6px);
      opacity: 0.5;
    }
    80% {
      transform: none;
      opacity: 0.25;
    }
    100% {
      transform: none;
      opacity: 0.25;
    }
  }

*/


  /* MOBILE VERSION
    --------------------------------------------------------------------------------------------------------------------------- */

  @media screen and (max-width: 820px) {

  body{
    width: 100%;
    height: 100%;
  }



  .title{
    letter-spacing: 0.3em;
    width: unset;
    transform: unset;
    margin: 1em;
  }

  .title h1{
    font-size: 1.75em;
  }

  .title p{
    font-size: 0.70em;
  }


    .Links{
      font-size: 2vw;
      position: absolute;
      top: 55%;
      width: 50%;
    }
    
    
    #Works {
        position: relative;
        top: 10em;
        left: 50%;
        text-align:center;

    }
    
    #AboutMe {
        position: relative;
        top: 5em;
        left: 50%;
        text-align:center;
        -webkit-transform: rotate(0deg);

    }
    
    #Contacts {
        text-align:center;
        position: relative;
        top: unset;
        right: unset;
        left: 50%;
        -webkit-transform: rotate(0deg);

    }
    

  }



/* Loader */
/* Ce ne seras pas utile mais sait-on jamais */
/*
#Content {
  display: none;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  background-image: url(LogoVM.svg);
  background-repeat: no-repeat;
  background-size: 120px 120px;
  width: 120px;
  height: 120px;
  animation: load 4s infinite;
}

@keyframes load {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
*/